head
 meta(name='viewport', content='width=device-width, initial-scale=1.0')
body
button 
 a.nav-item.nav-link.active(href='/') Home
canvas
link(rel='stylesheet', href='/stylesheets/style.css')
script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js")
script(type="module", src="/javascripts/3Dgraphics.js") 